<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">New Classroom</h1>

    <a ng-click='closeModal()' class="header-button"><i class="icon ion-close-round"></i></a>
  </ion-header-bar>

  <ion-content class="padding">

        <div class="list list-inline">
          <label class="item item-input">
            <input type="text" ng-model="classroom.name" value="classroom.name" placeholder="Class Name">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="classroom.secret" value="classroom.secret" placeholder="Secret Key">
          </label>
        </div>  
        <button class="button button-block button-positive" ng-click="submitClassroom(classroom)">Submit Classroom</button>
  </ion-content>
</ion-modal-view>
