
<ion-view view-title="{{classroom.name}}">
  <ion-content>

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="lesson in classroom.lessons" type="item-text-wrap" href="#/tab/classroom-lesson/{{classroom.id}}/{{lesson.id}}"> <!-- /{{lesson.id}} -->
        <h2>{{lesson.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!-- TODO : option for editing class -->
        <ion-option-button class="button-energized" ng-click="editLesson(lesson)">
          Edit
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="removeLesson(lesson)">
          Delete
        </ion-option-button>

      </ion-item>
    </ion-list>



  </ion-content>
</ion-view>
