<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{classroom.name}}">
  <ion-content class="padding">
    <h1>{{classroom.name}}</h1>
    <div class="password" ng-show='askPassword'>
      <h3>What is the secret passcode?</h3>
      <input type="text" name="secretCode" ng-model="secret">
      <button ng-click='submitCode(secret)'>Submit</button>
    </div>

      <!-- <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="lesson in classrooms" type="item-text-wrap" href="#/tab/classroom/{{classroom.id}}"> -->


    <div class="lessons" ng-repeat='lesson in classroom.lessons' ng-hide='askPassword'>
      <h3>{{lesson.name}}</h3>
    </div>

  </ion-content>
</ion-view>
