
<ion-view view-title="{{classroom.name}}">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="right"> <!-- right -->
      <a href="#/tab/classrooms" class="header-button"><i class="icon ion-home"></i></a>
      <a class="header-button" ng-click='openModal()'><i class="icon icon ion-plus"></i></a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="lesson in classroom.lessons" type="item-text-wrap" href="#/tab/classroom-lesson/{{classroom.id}}/{{lesson.id}}"> <!-- /{{lesson.id}} -->
        <h2>{{lesson.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!-- TODO : option for editing class -->
        <ion-option-button class="button-energized crud-button" ng-click="editLesson(lesson)">
          Edit
        </ion-option-button>
        <ion-option-button class="button-assertive crud-button" ng-click="removeLesson(lesson)">
          Delete
        </ion-option-button>

      </ion-item>
    
  </ion-content>
</ion-view>
