<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{modal.title}}</h1>

    <a ng-click='modal.close()' class="header-button">
      <i class="icon ion-close-round"></i>
    </a>
  </ion-header-bar>

  <ion-content class="padding">
  <form name='entry_form'>
        <div class="list list-inline">
          <label class="item item-input">
            <input type="text"
                   required='true'
                   ng-model="modal.target.title"
                   placeholder="Video Title">
          </label>
          <label class="item item-input">
            <input type="text"
                   required='true'
                   ng-model="modal.target.videoId"
                 placeholder="Vimeo Video ID">
          </label>
          <label class="item item-input">
            <textarea ng-model="modal.target.note" 
                      placeholder="Comments"></textarea>
          </label>          
        </div>  
        <button class="button button-block button-positive"
          type='submit'
          ng-disabled='entry_form.$invalid'
          ng-click="modal.submit()">Submit</button>
    </form>
  </ion-content>
</ion-modal-view>

