<ion-modal-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title">{{modal.title}}</h1>

    <button ng-click='modal.close()' class="header-button">
      <i class="icon ion-close-round"></i>
    </button>
  </ion-header-bar>

  <ion-content class="padding">
  <form name='lesson_form'>
        <div class="list list-inline">
            <input type="text"
                   required='true'
                   ng-model="modal.target.name"
                   class="input-modal"
                   autofocus="true"
                   placeholder="Lesson Name">
        </div>  
        <button class="button button-block button-positive"
          type='submit'
          ng-disabled='lesson_form.$invalid'
          ng-click="modal.submit()">Submit</button>
    </form>
  </ion-content>
</ion-modal-view>
