
<ion-view view-title="{{lesson.name}}">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="entry in lesson.entries" type="item-text-wrap" href="#/tab/lesson-entry/{{classroom.id}}/{{lesson.id}}/{{entry.id}}"> 
        <h2>{{entry.title}}</h2>
        <p>{{entry.note}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="removeLesson(lesson)">
          Delete
        </ion-option-button>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar" type="item-text-wrap">
      <h2>Create New</h2>
      </ion-item>

    </ion-list>

      <ion-item class="item-remove-animate item-avatar" type="item-text-wrap">
      <h2>Create New</h2>
        <div class="list list-inline">
          <label class="item item-input">
            <input type="text" placeholder="Entry Title">
          </label>
          <label class="item item-input">
            <textarea placeholder="Notes"></textarea>
          </label>
          <button class="button button-clear">
            Cancel
          </button>
        </div>      
      </ion-item>

  </ion-content>
</ion-view>
