<ion-view view-title="{{lesson.name}}">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="right"> <!-- right -->
      <button class="header-button" ng-click='modal.captureVideo()'><i class="icon ion-camera"></i></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <ion-list>

      <ion-item>
        <div class="input_container">
          <input type="text" class="search" placeholder="Search" ng-model="ui.query">
            <img src="img/search-icon.png" class="input_img">
        </div>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-right" ng-repeat="entry in lesson.entries | filter: ui.query" type="item-text-wrap"> 
        <h2>{{entry.title}}</h2>
        <p>{{entry.note}}</p>
<!--         <iframe ng-src="{{'http://player.vimeo.com/video/' + entry.videoId}}"
         style="width:100%; height:70vw"
         frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>  
 -->
        <div class="relative-video"> <!-- ng-click="select first child.play()" ng-hide="entry-editing" ng-click="video.play()" --> 
          <video style="width:100%; height:70vw" src="{{entry.path}}" controls disable//>
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="absolute-video">
        </div>

        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-energized crud-button"
            ng-click="modal.edit(entry)">
          Edit
        </ion-option-button>
        <ion-option-button class="button-assertive crud-button" ng-click="modal.remove(entry)">
          Delete
        </ion-option-button>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
