<ion-view view-title="{{lesson.name}}">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="right"> <!-- right -->
      <button class="header-button" ng-click='modal.captureVideo()'><i class="icon ion-camera"></i></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <ion-list>

      <ion-item>
        <div class="input_container">
          <input type="text" class="search" placeholder="Search" ng-model="ui.query">
            <img src="img/search-icon.png" class="input_img">
        </div>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="entry in lesson.entries | filter: ui.query" type="item-text-wrap" href="#/tab/classroom-entry/{{classroom.id}}/{{lesson.id}}/{{entry.id}}">
        <img ng-src='img/buddy-icon.png'/>
        <h2>{{entry.title}}</h2>
        <p>{{entry.note}}</p>

        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-energized crud-button"
            ng-click="modal.edit(entry)">
          Edit
        </ion-option-button>
        <ion-option-button class="button-assertive crud-button" ng-click="modal.remove(entry)">
          Delete
        </ion-option-button>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
