<ion-view view-title="Classrooms">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="right"> <!-- right -->
      <a href="#/tab/classrooms" class="add-button"><i class="icon icon ion-plus"></i></a>
    </ion-nav-buttons>
  </ion-nav-bar>
    
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="classroom in classrooms" type="item-text-wrap" href="#/tab/classroom/{{classroom.id}}">
        <img ng-src="{{classroom.face}}">
        <h2>{{classroom.name}}</h2>
        <p>Secret key: {{classroom.secret}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-energized crud-button" ng-click="editClassroom(classroom)">
          Edit
        </ion-option-button>
        <ion-option-button class="button-assertive crud-button" ng-click="remove(classroom)">
          Delete
        </ion-option-button>

      </ion-item>

      <ion-item class="item-remove-animate item-avatar" type="item-text-wrap">
      <h2>Create New</h2>
        <div class="list list-inline">
          <label class="item item-input">
            <input type="text" placeholder="Class Name">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Secret Key">
          </label>
        </div>      
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view