<ion-view view-title="Classrooms">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="classroom in classrooms" type="item-text-wrap" href="#/tab/classroom/{{classroom.id}}">
        <img ng-src="{{classroom.face}}">
        <h2>{{classroom.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!-- TODO : option for editing class -->
        <ion-option-button class="button-energized" ng-click="editClassroom(classroom)">
          Edit
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="remove(classroom)">
          Delete
        </ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view