
<ion-view view-title="{{classroom.name}}">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="right">
      <button class="header-button" ng-click='modal.create()'><i class="icon icon ion-plus"></i></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <ion-list>

      <ion-item>

        <div class="input_container">
          <input type="text" class="search" placeholder="Search" ng-model="ui.query">
            <img src="img/search-icon.png" class="input_img">
        </div>

      </ion-item>
          
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="lesson in classroom.lessons | filter: ui.query" type="item-text-wrap" href="#/tab/classroom-lesson/{{classroom.id}}/{{lesson.id}}"> 
        <img ng-src="img/buddy-icon.png"/>
        <h2>{{lesson.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-energized crud-button" ng-click="modal.edit(lesson)">
          Edit
        </ion-option-button>
        <ion-option-button class="button-assertive crud-button" ng-click="modal.remove(lesson)">
          Delete
        </ion-option-button>

      </ion-item>
    
  </ion-content>
</ion-view>
