/*Navigation + header bar css*/
.bar.bar-stable {
  background-color: #47be9d;
}

.bar.bar-stable .header-item {
  color: white;
}

.crud-button {
  width: 70px;
  text-align: center;
}

.header-button {
  font-size: 2em;
  margin: 10px;
}

.item-input, input.search {
  border: 1px solid #BBB7B7;
  margin-top: 5px;
  border-radius: 20px;
}

input.search {
  padding: 10px;
  padding-left: 40px;
}